{% extends "base.html" %}

{% block content %}
    <div class="page-content mx-auto">
        <div class="page-content">
            <h1>Connect4AI</h1>
            <hr><br>
            <div class="row">
                <div class="col-lg-5 my-auto">
                    <div class="mx-auto mb-5" style="text-align:center"><img style="max-width: 600px;" alt="Picture of a Connect 4 Board" src="{{ url_for('static', filename='images/board.png') }}"></div>
                </div>
                <div class="col-lg-7 my-auto mx-auto" style="text-align: center; padding:1rem">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-warning active" onclick="playAgainstAIRadioButton()">
                                    <input type="radio" name="options" id="option1" checked> Play Against AI
                                </label>
                                <label class="btn btn-outline-warning" onclick="playAgainstFriendRadioButton()">
                                    <input type="radio" name="options" id="option2"> Play Against A Friend
                                </label>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="row">
                        <div class="col">
                            <h5>Player 1 Name</h5>
                            <input id="player1Name" type="text" class="form-control mx-auto" style="max-width:400px" placeholder="Player 1">
                        </div>
                    </div><br><br>
                    <div id="playAgainstAIOptions" class="row">
                        <div class="col">
                            <h5>AI Difficulty</h5>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-success active" onclick="changedAIDifficulty('success')">
                                    <input type="radio" name="options" id="easyAIButton" checked> Easy
                                </label>
                                <label class="btn btn-outline-warning" onclick="changedAIDifficulty('warning')">
                                    <input type="radio" name="options" id="mediumAIButton"> Medium
                                </label>
                                <label class="btn btn-outline-danger" onclick="changedAIDifficulty('danger')">
                                    <input type="radio" name="options" id="hardAIButton"> Hard
                                </label>
                                <label class="btn btn-outline-dark" onclick="changedAIDifficulty('dark')">
                                    <input type="radio" name="options" id="impossibleAIButton"> Impossible
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="playAgainstHumanOptions" class="row" style="display:none">
                        <div class="col">
                            <h5>Player 2 Name</h5>
                            <input id="player2Name" type="text" class="form-control mx-auto" style="max-width:400px" placeholder="Player 2">
                        </div>
                    </div>
                    <br><br>
                    <!-- Button trigger modal -->
                    <button id="beginGameButton" type="button" class="btn btn-success btn-lg btn-icon" data-toggle="modal" data-target="#connect4Modal" onclick="initializeGame()">
                        <span class="btn-inner--text">Begin Game</span>
                        <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                    </button>
                </div>
            </div>
            <br><br>
            <h2>Development</h2>
            <hr>

        </div>
    </div>

    <!-- Hidden Tags -->
    <input type="hidden" id="AIDifficulty" value="Easy">
    <input type="hidden" id="gameBoard">
    <input type="hidden" id="currentPlayer">

    <!-- Modal -->
    <div class="modal fade" id="connect4Modal" data-backdrop="static" tabindex="-1" aria-labelledby="connect4Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="connect4ModalTitle">Connect 4</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <table id="connect4Board" class="connect4-board mx-auto">
                        <tr class="row-above">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                        <tr class="c4-row">
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}