img {
    width: 100%;
}

.page-content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width:1500px;
}

.connect4-board {
    width: 80%;
    text-align: center;
}

.row-above {
    width: 100%;
}

.c4-row {
    background-color: blue;
    width: 100%;
}

.grid-position {
    width: 80px;
    height: 80px;
}

.c4-piece-above {
    background-color: rgb(250, 250, 250);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
}

.c4-piece-above:hover {
    transform: scale(1.1);
    background-color: lightslategray;
    cursor: pointer;
}

.c4-piece-blank {
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
}

.c4-piece-red {
    background-color: red;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
}

.c4-piece-yellow {
    background-color: yellow;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
}